<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11A511</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML Text</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dustinrue.ControlPlane</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>ControlPlane Help</string>
	<key>CFBundleHelpBookName</key>
	<string>ControlPlane Help</string>
	<key>CFBundleIconFile</key>
	<string>controlplane.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.dustinrue.ControlPlane</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.dustinrue.ControlPlane</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location information is used to switch contexts automatically</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location information is used to switch contexts automatically</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location information is used to switch contexts automatically</string>
	<key>NSLocationUsageDescription</key>
	<string>Location information is used to switch contexts automatically</string>
	<key>CFBundleVersion</key>
	<string>79</string>
	<key>CPCrashReportURL</key>
	<string>http://crashreport.controlplaneapp.com/crash_v200.php</string>
	<key>CPDonationURL</key>
	<string>https://www.controlplaneapp.com/support-controlplane/</string>
	<key>CPSupportURL</key>
	<string>http://groups.google.com/group/controlplane-support/topics</string>
	<key>CPWebPageURL</key>
	<string>https://www.controlplaneapp.com/</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4B110</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10J567</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0410</string>
	<key>DTXcodeBuild</key>
	<string>4B110</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>ControlPlane.sdef</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.dustinrue.CPHelperTool</key>
		<string>identifier com.dustinrue.CPHelperTool and certificate leaf[subject.CN] = &quot;Developer ID Application: Dustin Rue&quot;</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://www.controlplaneapp.com/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>TediumURL</key>
	<string>http://www.tediumapp.com/get-tedium/</string>
</dict>
</plist>
