//
//  ControlPlane.xcconfig
//  ControlPlane
//
//  Created by David Jennes on 08/10/11.
//  Copyright 2011. All rights reserved.
//

// Version
CURRENT_PROJECT_VERSION = 2.0.0.alpha1
CURRENT_MARKETING_VERSION = 2.0.0 Alpha 1

// Packaging
INFOPLIST_FILE = Resources/Info.plist
PRODUCT_NAME = ControlPlane

// Search paths
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/Frameworks"

// Disable a warning for scripting bridge
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO

// Deployment
INSTALL_PATH = $(HOME)/Applications
