//
//  Core.xcconfig
//  ControlPlane
//
//  Created by David Jennes on 08/10/11.
//  Copyright 2011. All rights reserved.
//

// Version
CURRENT_PROJECT_VERSION = 2.0.0.alpha1
CURRENT_MARKETING_VERSION = 2.0.0 Alpha 1

// Packaging
INFOPLIST_FILE = Resources/Info.plist
PRODUCT_NAME = Core
WRAPPER_EXTENSION = plugin

// Search paths
FRAMEWORK_SEARCH_PATHS = "/System/Library/PrivateFrameworks"

// Deployment
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Bundles
