//
//  Quincy.xcconfig
//  ControlPlane
//
//  Created by David Jennes on 12/11/11.
//  Copyright 2011. All rights reserved.
//

// Version
CURRENT_PROJECT_VERSION = 2.1.2
CURRENT_MARKETING_VERSION = 2.1.2

// Packaging
FRAMEWORK_VERSION = A
INFOPLIST_FILE = External Source/QuincyKit/demo/Mac/Info.plist
PRODUCT_NAME = Quincy
WRAPPER_EXTENSION = framework

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

// Deployment
INSTALL_PATH = @executable_path/../Frameworks

// Compiler options
CLANG_ENABLE_OBJC_ARC = NO
GCC_PREFIX_HEADER = 
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// Warnings
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
