html, body {
  font-family: 'helvetica neue', helvetica, arial, sans, sans-serif;
}

a {
  color: #ff4c7b;
  text-decoration: none;
}

a:hover {
  color: #128ab2;
  text-decoration: underline;
}

td {
  vertical-align: top;
}

table, td, th {
  border: 1px solid #ddd;
}

table, td {
    border-top: 0;
}

table, form {
    margin: 0;    
}

th {
  background: #ddd;
}

textarea.description {width:250px;height:70px;padding:5px;}
textarea.short {width:160px;height:100px;padding:5px;}
textarea.log {width:470px;height:120px;padding:5px;}
