<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dustinrue.ControlPlaneNightlyBuild</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/dustin/bin/doCPNightlyBuild.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>00</integer>
        <key>Minute</key>
        <integer>01</integer>
    </dict>
</dict>
</plist>
