body {
    margin: 0px;
    border: 1px solid rgba(129, 133, 141, 1.0);
}


.beacon{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(100,140,221,0.9);
    border-radius: 5000px;
    -webkit-box-sizing: border-box;
    background: rgba(15,95,245,0.1);
}
    
.dot {
    position: absolute;
    background: -webkit-gradient(radial, 35% 25%, 1, 35% 25%, 4, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.0))),
                -webkit-gradient(linear, 0% 0%, 45% 90%, from(rgb(10,120,189)), to(rgb(59,165,255)), color-stop(0.5, rgb(41,99,255)),color-stop(0.75, rgb(61,130,255)));
    -webkit-box-shadow: 0px 0px 3px rgba(70,130,255,0.85),
                        inset 0px 1px 1px rgba(240,240,240,0.6);
    border: 1px solid rgba(2,75,145,0.95);
    width: 16px;
    height: 16px;
    border-radius:20px;
    -webkit-box-sizing: border-box;
    top:50%; 
    margin-top:-8px;
    left: 50%;
    margin-left: -8px;
}


.zoomControls {
    position:absolute;
    left: 15px;
    top: 15px;
    z-index: 9999;
}
.zoom{
	height: 24px;
	width: 24px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(254,254,254,1.0)), to(rgba(242,242,240,1.0)));
	border-radius:4px;
	margin: 3px;
	position: relative;
	-webkit-box-shadow:0px 0px 1px rgba(0,0,0,1.0);
}
.zoom:active {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(235,235,235,1.0)), to(rgba(222,222,220,1.0)));
	-webkit-box-shadow:0px 0px 1px rgba(30,30,30,0.9);
}
.out{
	height: 2px;
	width: 12px;
	background-color: #949494;
	position: absolute;
	top:50%;
	margin-top:-2px;
	left: 50%;
    margin-left: -7px;
    border: 1px solid #888;
    border-top: 1px solid #696969;
}

.in{
	height: 12px;
	width: 2px;
	background-color: #949494;
	position: absolute;
	top:50%;
	margin-top:-7px;
	left: 50%;
    margin-left: -2px;
    border: 1px solid #888;
    border-top: 1px solid #696969;
}
.in2{
	height: 12px;
	width: 2px;
	background-color: #949494;
	position: absolute;
	top:50%;
	margin-top:-6px;
	left: 50%;
    margin-left: -1px;
}

/* Annotation Callout */

span.annotationCalloutText 
{
    display:inline-block;
    padding-top:10;
    padding-left:0;
    padding-right: 0;
    z-index:100; 
    color: rgba(0,1,0,0); 
    max-width:250px;
    font-size:16px; 
    font-family: Lucida Grande; 
    font-weight:bold;
    overflow: hidden;
    white-space: nowrap;
}
div.annotationCalloutTextWrapper
{
    display: inline; height:100%; float:left;
    margin-left: 21px;
    margin-right: 21px;
    /*border: 1px solid blue;*/
}

canvas.annotationCallout
{
    height:100%; 
    width:100%; 
    left:0px; 
    top:0px; 
    position:absolute; 
}
div.annotationCalloutWrapper
{
    z-index:99; 
    position:absolute; 
    left:299px; 
    top:158px;
    height:64px;
	width: auto;
    display: none;
}

/* End Annotation Callout */